<?xml version="1.0" encoding="utf-8"?>
<manifest android:hasCode="false" android:versionCode="9" android:versionName="2.12.8" android:installLocation="internalOnly" package="com.maddoggin.theme.jb"
  xmlns:android="http://schemas.android.com/apk/res/android" xmlns:pluto="http://www.w3.org/2001/pluto.html">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name="com.tmobile.theme.Foo" />
    </application>
    <theme pluto:themeId="JB" pluto:styleId="@style/JB" pluto:name="@string/app_name" pluto:preview="@drawable/preview" pluto:author="@string/author" pluto:copyright="@string/copyright" pluto:wallpaperImage="@drawable/homescreen" pluto:styleName="@string/style_appearance_name" />
</manifest>
